body{
    font-size: 12px;
}
.cb{
    clear: both;
}
#north{
    height: 10%;
}
#south{
    height: 10%;
}
#west{
    float:left;
    width:200px;
}
#east_wrap{
    margin:0 0 0 200px;
}
#east{
    margin-top: 20px;
    width:100%;
    float: left;
}
#header{
    line-height: 4em;
    text-align: right;
    padding: 0 30px;
}
#copyright{
    line-height: 4em;
    text-align: right;
    padding: 0 30px;
}